<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Ngek: Web Solutions from the Future</title>
    <module href="/components/head.html"></module>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row max-header landing-bg">
        <div class="col-md-12">
          <h1 class="header-red header-title d-flex justify-content-center">
            Web Solutions from the Future.
          </h1>
        </div>
        <div class="col-md-12">
          <h3 class="header-red header-subtitle d-flex justify-content-center">
            We build scalable, secure, AI powered, reliable and robust websites
            for your business needs.
          </h3>
        </div>
      </div>
    </div>

    <script src="./bundle.js"></script>
  </body>
</html>
