<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Ngek: Web Solutions from the Future</title>
    <module href="/components/head.html"></module>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <img
          src="images/ngek_logo.jpg"
          height="100"
          width="100"
          style="border-radius: 1000px"
          class="img-fluid"
          alt="Ngek Logo"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link x-nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link x-nav-link" href="#">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link x-nav-link" href="#">Contact Us</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link x-nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row max-header landing-bg">
        <div class="col-md-12">
          <h1 class="header-red header-title d-flex justify-content-center">
            Web Solutions from the Future.
          </h1>
        </div>
        <div class="col-md-12">
          <h3 class="header-red header-subtitle d-flex justify-content-center">
            We build scalable, secure, AI powered, reliable and robust websites
            for your business needs.
          </h3>
        </div>
      </div>
    </div>

    <script src="./bundle.js"></script>
  </body>
</html>
