@import "variables.scss";
@import "colors.scss";
@import "landing.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  color: $primary;
}
