@import "colors.scss";

.max-header {
  background-color: $primary-black;
  padding: 8rem 2rem;
  //padding: 1rem;
}

.header-red {
  color: $primary-red;
}

.header-title {
  padding: 80px 40px;
  padding-bottom: 0;
  font-weight: 600;
  font-size: 3.2rem;
}

.header-subtitle {
  padding: 80px 40px;
  padding-top: 0;
  font-size: 1.6rem;
  font-weight: 500;
}

.landing-bg {
  background-image: url("images/landing_bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.x-nav-link {
  font-size: 1.2rem;
  margin-right: 1rem;
}
